@import url('lib/bootstrap/css/bootstrap.min.css');
@import url('lib/bootstrap/css/bootstrap-theme.min.css');

.p15 {padding: 15px;}
.vp15 {padding-top: 15px; padding-bottom: 15px;}
.mb10 {margin-bottom: 10px;}
.pitcher {
	height: 190px;
	margin-top: 20px;
	padding: 5px 5px 5px 5px;

	border: 1px solid #750303;
	border-radius: 10px;
}
.pitcher-balance {
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.pitcher-balance:hover {
	cursor: pointer;
	box-shadow: inset 0px 0px 10px #539538;
}
#cost-dialog .success-message {
	display: none;
}
/*h2, h3 { margin-bottom: 5px; }
h3 { margin-top: 40px; }
p { 
	margin-top: 5px; 
	font-style: italic;
}
h2 .sum { 
	background-color: lightgreen; 
	padding-left: 10px;
	padding-right: 10px;
}
input[name=salary] {
	width: 300px;
	padding: 5px;
	font-size: 20px;
}*/