@import url('lib/bootstrap/css/bootstrap.min.css');
@import url('lib/bootstrap/css/bootstrap-theme.min.css');

.p15 {padding: 15px;}
.vp15 {padding-top: 15px; padding-bottom: 15px;}
.mb10 {margin-bottom: 10px;}
.pitcher {
	height: 190px;
	margin-top: 20px;
	padding: 5px 5px 5px 5px;

	border: 1px solid #750303;
	border-radius: 10px;
}
.pitcher-balance {
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.pitcher-balance:hover {
	cursor: pointer;
	box-shadow: inset 0px 0px 10px #539538;
}
.info-balance {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;

    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white; /*#c57a49;*/
    text-shadow: 0px 0px 2px #69320e,-1px -1px 2px #69320e;
}
#cost-dialog .success-message {
	display: none;
}



/**
 * ============================================================================
 * TYPEHEAD
 */
.tt-menu,
.gist {
  text-align: left;
}
.twitter-typeahead {
	display: block !important;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 20px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}